.global-header {
    background-color: #263238;
    height: 40px;
    padding-top: 20px;
}
.logo-text {
    color: #fff;
    font-size: 18px;
    align-content: center;
    padding-left: 10px;
}

.after-login {
    float: right;
    display: flex;
}

.greyed {
    background-color: grey;
}